@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario{

    input{
        padding:1rem;
        width: 100%;
    }

}

.f1{
    .col-1{
        width: 90%;
        margin: 0 auto 50px auto;
        input{
            padding: 1rem  2rem;
        }
        #aceptar{
            margin-bottom: 50px;
            @include m.button-styles(v.$verde,v.$blanco,1rem 2rem) 
            
        }
        #cancelar{
            margin-bottom: 50px;
            @include m.button-styles(v.$rojo,v.$negro,1rem 2rem)
        }
    }
    .col-2{
        margin: 0 auto 50px auto;
        width: 90%;
    }
}
