@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario{
    h3{
        margin: 40px 0;
        text-align: center;
        text-transform: uppercase;
    }


    

}

.f1{
    @include m.responsive(laptop){
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20PX;
    }
    
    .col-1{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto 50px auto;
        @include m.responsive(laptop){
            

        }
        

        

        input,
        select{
            padding: 0.7rem  1rem;
        }

        #aceptar{
            margin-bottom: 50px;
            @include m.button(inline-block,v.$verde,v.$blanco,1rem 2rem) 
            
        }
        #cancelar{
            margin-bottom: 50px;
            @include m.button(inline-block,v.$rojo,v.$blanco,1rem 2rem)
        }
    }
  
}
