@use 'base/variables' as v;
@use 'base/mixins' as m;

.table-mobile{
    
    @include m.responsive(laptop){
        display: none;
    }
    .fila{
        .columna{
            display: flex;
            .col-header,.col-contenido{
                border: solid 1px v.$negro;
                border-bottom: none;
                padding: 1rem;
                text-align: center;
            }
            .col-header{
                text-transform: uppercase;
                width: 40%;
                background-color: v.$negro;
                color: v.$blanco;
                font-weight: bold;
            }

            .col-contenido{
                width: 60%;
            }
        }
        &:nth-of-type(even){
            background-color: v.$gris;
            color: v.$blanco;
            .col-contenido{
                a{
                    color: v.$blanco;
                }
            }
        }
    }
}

.table-hidden{
    @include m.responsive(smartphone-portrait){
        display: none;
    }
    @include m.responsive(smartphone-landscape){
        display: none;
    }
            
    @include m.responsive(tablet){
        display: none;
    }
}
