.align-left {
    text-align: left;
}

.historial {
    background-color: rgba(26, 57, 49, 0.9);
    padding: 4rem;
}

.nav-historial {
    display: flex;
}

.nav-historial a {
    transition: color 0.8s;
    display: inline-block;
    padding: 2rem;
    color: white;
}


.lista {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    border-collapse: collapse;
    overflow: hidden;
}

.lista__fila:nth-child(odd) {
    background-color: rgb(177, 174, 174);
}

.nav-historial a:hover {
    color: #a52c2c;
}

.p-1 {
    padding: 1rem;
}

.t-b {
    color: white;
}

#red {
    color: #d45a5a;
}

.btn-nuevo {
    padding: 1rem;
    border-radius: 8px;
    background-color: white;
    transition: all 0.7s;
}
.btn-nuevo:hover{
    color: #a52c2c;
}
.contenedor-lista{
    margin-bottom: 3rem;
}