/*
Los mixins son funciones reutilizables de codigo
un mixin se genera con la palabra clave @mixin nombre_mixin($parametro){
    accion:$parametro;
}

Ejemplo de uso  desde layout/header.scss

.header {
  @include m.button-styles($primary-color);
}

Revisar el app.scss si tienes dudas del alias que utilizaras en este ejemplo el alias es m

un mixin puede tener parametros para hacer mas funcional el mixin
*/

/*Este mixin se utiliza para centrar un div*/
@use 'variables' as v;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
/*Este mixin es para agregar pequeñas transiciones*/
@mixin transition($property) {
    transition: $property 0.3s ease;
}

/*Este Mixin es para generar un botono*/
@mixin button($display,$bg-color, $text-color: white, $padding: 10px 20px, $border-radius: 4px) {
    padding: $padding;
    display: $display;
    border: none;
    border-radius: $border-radius;
    color: $text-color;
    background-color: $bg-color;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    @include transition(background-color);
  
    &:hover {
      background-color: darken($bg-color, 10%);
      color: v.$blanco;
    }
  }
  
  @mixin responsive( $breakpoint ) {
    /*
        breakpoints are viewport arbitrary values,
        they are defined with the aim of allowing the SCSS/CSS code of your app' behave accordingly to your user's device width,
        the breakpoints I used were inspired by Bootstrap =>
        https://getbootstrap.com/docs/5.0/layout/breakpoints/
    */
    @if $breakpoint == smartphone-portrait {
        @media only screen and ( max-width: 575.98px ) {
            @content;
        }
    }
    @if $breakpoint == smartphone-landscape {
        @media only screen and ( min-width: 575.99px ) and ( max-width: 767.98px ) {
            @content;
        }
    }
    @if $breakpoint == tablet {
        @media only screen and ( min-width: 767.99px ) and ( max-width: 1199.97px ) {
            @content;
        }
    }
    @if $breakpoint == laptop {
        @media only screen and ( min-width: 1199.98px  ){
            @content;
        }
    }
    
}