<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Pequeña Jungla</title>
    <script src="https://kit.fontawesome.com/482ad17f17.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="build/css/app.css">
</head>

<body>
    <!-- Contenido Formulario Usuario -->
    <div class="contenido-formulario">
        <div class="contenedor contenedor-formulario">
            <form action="historial-tratamientos.html" class="formulario">
                <h3>Registrar Tratamiento</h3>
                <h3>Datos Mascota</h3>
                <!-- Fila 1 -->
                <div class="f1">
                    <!-- columna 1 -->
                    <div class="col-1">
                        <label>Dueño</label>
                        <input type="text" required>
                    </div>
                    <!-- Columna 2 -->
                    <div class="col-1">
                        <label for="">Mascota</label>
                        <input type="text" required>
                    </div>
                </div>
                <div class="f1">
                    <!-- columna 1 -->
                    <div class="col-1">
                        <label>Id Mascota</label>
                        <input type="number" required>
                    </div>
                </div>
                <!-- Fila 1 -->
                <div class="f1">
                    <h3>Datos Tratamiento</h3>
                    <!-- columna 1 -->
                    <div class="col-1">
                        <label>Tratamiento</label>
                        <select name="" id="">
                            <option value="">Tratamiento 1</option>
                            <option value="">Tratamiento 2</option>
                        </select>
                    </div>
                    <!-- Columna 2 -->
                    <div class="col-1">
                        <label for="">Fecha de inicio</label>
                        <input type="date" required>
                    </div>
                </div>
                <!-- Fin F1 -->
                <!-- F2 -->
                <div class="f1">
                    <!-- columna 1 -->
                    <div class="col-1">
                        <label>Fecha de Finalizacion</label>
                        <input type="date" required>
                    </div>
                    <div class="col-1">
                        <label>Descripcion</label>
                        <input type="text" required>
                    </div>
                </div>
                <div class="f1">
                    <!-- columna 1 -->
                    <div class="col-1">
                        <label>Dias de duracion</label>
                        <input type="number" required>
                    </div>
                    
                </div>
                <div class="f1">
                    <!-- Columna 1 -->
                    <div class="col-1">
                        <input type="submit" value="Aceptar" id="aceptar">
                        <input type="submit" value="Cancelar" id="cancelar">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Fin Formulario Usuario -->
    <!-- Pie de pagina -->
    <footer class="footer">
        <div class="contenedor__footer contenedor">
            <div class="footer__dir">
                <h3 class="footer__dir__titulo">Direccion</h3>
                <p class="footer__parrafo">
                    Calle, Gral. Juan Manuel Torrea 40 bis, esquina José María, Iztapalapa, 09100 Parras de la Fuente,
                    CDMX
                </p>
                <h3 class="footer__dir__titulo">Contacto</h3>
                <p class="footer__parrafo centrar">
                    <i class="fa-solid fa-phone"></i> 5529459032
                </p>

            </div>
            <div class="footer__social">
                <h3 class="footer__social__titulo">Redes Sociales</h3>
                <div class="footer__social__enlaces">
                    <a href="#" class="footer__enlace"><i class="fa-brands fa-facebook"></i>Facebook</a>
                    <a href="#" class="footer__enlace"><i class="fa-brands fa-whatsapp"></i>whatsapp</a>
                    <a href="#" class="footer__enlace"><i class="fa-brands fa-instagram"></i>Instagram</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>