<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Pequeña Jungla</title>
    <script src="https://kit.fontawesome.com/482ad17f17.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/generales.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/lista-objetos.css">
    <link rel="stylesheet" href="css/historial.css">
    <link rel="stylesheet" href="css/footer.css">
</head>

<body>
    <header class="header">
        <div class="contenedor__header contenedor">
            <div class="header__info">
                <a href="perfil_usuario.html" id="logo_enlace"><img src="img/LOGOJUNGLAV2.png" alt="logo de empresa"
                        class="header__logo"></a>
                <h2 class="header__titulo">software de gestion veterinaria</h2>
            </div>
            <div class="contenedor__us">
                <i class="fa-solid fa-user"></i>
                <p>Usuario</p>
            </div>
            <nav class="header__nav">
                <a href="lista-servicios.html" class="header__enlace"><i class="fa-solid fa-shield-dog"></i> Servicio</a>
                <a href="lista-mascota.html" class="header__enlace"><i class="fa-solid fa-dog"></i> Mascota</a>
                <a href="listaCliente.html" class="header__enlace"><i class="fa-solid fa-person"></i> Cliente</a>
                <a href="lista-empleado.html" class="header__enlace"><i class="fa-solid fa-user-nurse"></i> Empleado</a>
                <a href="lista-usuario.html" class="header__enlace"><i class="fa-solid fa-user"></i> Usuario</a>
                <a href="lista-inventario.html" class="header__enlace "><i class="fa-solid fa-box-archive"></i> Inventario</a>
                <a href="lista-insumos.html" class="header__enlace"><i class="fa-solid fa-bottle-water"></i> Insumo</a>
                <a href="lista-vacunas.html" class="header__enlace"><i class="fa-solid fa-syringe"></i> Vacunas</a>
                <a href="lista-diagnosticos.html" class="header__enlace"><i class="fa-solid fa-stethoscope"></i> Diagnosticos</a>
                <a href="lista-tratamientos.html" class="header__enlace"><i class="fa-solid fa-tablets"></i> Tratamientos</a>
                <a href="lista-alergias.html" class="header__enlace"><i class="fa-solid fa-box-tissue"></i> Alergias</a>
                <a href="lista-cirugias.html" class="header__enlace"><i class="fa-solid fa-mask-face"></i> Cirugias</a>
                <a href="historial-vacunas.html" class="header__enlace red"><i class="fa-solid fa-sheet-plastic"></i> Historial Clinico</a>
                <a href="index.html" class="header__enlace"><i class="fa-solid fa-user-xmark"></i> cerrar sesion</a>
            </nav>
        </div>
    </header>
    <div class="historial">
        <div class="contenedor">
            <h2 class="align-left p-1 t-b">Historial Clinico</h2>
            <nav class="nav-historial">
                <a href="historial-vacunas.html">Vacunas</a>
                <a href="historial-diagnosticos.html" >Diagnosticos</a>
                <a href="historial-tratamientos.html" >Tratamientos</a>
                <a href="historial-alergias.html" >Alergias</a>
                <a href="historial-cirugias.html" id="red">Cirugias</a>
            </nav>
            <div class="contenedor-lista ">
                <table class="lista" >
                    <tr class="lista__fila">
                        <th class="lista__encabezado">ID</th>
                        <th class="lista__encabezado">ID Mascota</th>
                        <th class="lista__encabezado">Nombre Cirugia</th>
                        <th class="lista__encabezado">Fecha de Cirugia</th>
                        <th class="lista__encabezado">Observaciones</th>
                        <th class="lista__encabezado">Resultados</th>
                        <th class="lista__encabezado" colspan="2">Operaciones</th>
                    </tr>
                    <tr class="lista__fila">
                        <td class="lista__contenido">001</td>
                        <td class="lista__contenido">002</td>
                        <td class="lista__contenido">Cirugia de apendice</td>
                        <td class="lista__contenido">30/07/2024</td>
                        <td class="lista__contenido">Cuidados del paciente</td>
                        <td class="lista__contenido">Efectivo</td>
                        <td class="lista__contenido"><a href="form-servicio.html"><i class="fa-solid fa-pencil pencil"></i></a></td>
                        <td class="lista__contenido"><i class="fa-solid fa-trash trash"></i></td>
                    </tr>
                </table>
            </div>
            <a href="" class="btn-nuevo">Nuevo Registro</a>
        </div>
    </div>
    <!-- Pie de pagina -->
    <footer class="footer">
        <div class="contenedor__footer contenedor">
            <div class="footer__dir">
                <h3 class="footer__dir__titulo">Direccion</h3>
                <p class="footer__parrafo">
                    Calle, Gral. Juan Manuel Torrea 40 bis, esquina José María, Iztapalapa, 09100 Parras de la Fuente,
                    CDMX
                </p>
                <h3 class="footer__dir__titulo">Contacto</h3>
                <p class="footer__parrafo centrar">
                    <i class="fa-solid fa-phone"></i> 5529459032
                </p>

            </div>
            <div class="footer__social">
                <h3 class="footer__social__titulo">Redes Sociales</h3>
                <div class="footer__social__enlaces">
                    <a href="#" class="footer__enlace"><i class="fa-brands fa-facebook"></i>Facebook</a>
                    <a href="#" class="footer__enlace"><i class="fa-brands fa-whatsapp"></i>whatsapp</a>
                    <a href="#" class="footer__enlace"><i class="fa-brands fa-instagram"></i>Instagram</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>