<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="build/css/app.css">
    <script src="https://kit.fontawesome.com/482ad17f17.js" crossorigin="anonymous"></script>
</head>

<body>

    <nav class="sidebar close">
        <header>
            <div class="text logo">
                <span class="name">Mi pequeña Jungla</span>
            </div>
            <i class="fa-solid fa-bars icon to"></i>
            <div class="menu-bar">
                <div class="menu">
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="lista-servicios.html" class="header__enlace">
                                <i class="fa-solid fa-shield-dog icon"></i> 
                                <span class="text nav-text">Servicio</span>
                            </a>
                        </li>
                        <li class="nav-links">
                            <a href="lista-mascota.html" class="header__enlace">
                                <i class="fa-solid fa-dog icon"></i> 
                                <span class="text nav-text">Mascota</span>
                            </a>
                        </li>
                        <li class="nav-links">
                            <a href="listaCliente.html" class="header__enlace">
                                <i class="fa-solid fa-person icon"></i> 
                                <span class="text nav-text">Cliente</span>
                            </a>

                        </li>
                        <li class="nav-links">
                            <a href="lista-empleado.html" class="header__enlace">
                                <i class="fa-solid fa-user-nurse icon"></i> 
                                <span class="text nav-text">Empleado</span>
                            </a>
                        </li>
                        <li class="nav-links">
                            <a href="lista-usuario.html" class="header__enlace">
                                <i class="fa-solid fa-user icon"></i> 
                                <span class="text nav-text">Usuario</span>
                            </a>
                        </li>
                        <li class="nav-links">
                            <a href="lista-inventario.html" class="header__enlace">
                                <i class="fa-solid fa-box-archive icon"></i>
                                <span class="text nav-text">Inventario</span>
                            </a>

                        </li>
                        <li class="nav-links">
                            <a href="lista-insumos.html" class="header__enlace">
                                <i class="fa-solid fa-bottle-water icon"></i>
                                <span class="text nav-text">Insumo</span>
                            </a>

                        </li>
                        <li class="nav-links">
                            <a href="lista-vacunas.html" class="header__enlace">
                                <i class="fa-solid fa-syringe icon"></i>
                                <span class="text nav-text">Vacunas</span>
                            </a>

                        </li>
                        <li class="nav-links">
                            <a href="lista-diagnosticos.html" class="header__enlace">
                                <i class="fa-solid fa-stethoscope icon"></i>
                                <span class="text nav-text">Diagnosticos</span>
                            </a>

                        </li>
                        <li class="nav-links">
                            <a href="lista-tratamientos.html" class="header__enlace">
                                <i class="fa-solid fa-tablets icon"></i>
                                <span class="text nav-text">Tratamientos</span>
                            </a>

                        </li>
                        <li class="nav-links">
                            <a href="lista-alergias.html" class="header__enlace">
                                <i class="fa-solid fa-box-tissue icon"></i>
                                <span class="text nav-text">Alergias</span>
                            </a>

                        </li>
                        <li class="nav-links">
                            <a href="lista-cirugias.html" class="header__enlace">
                                <i class="fa-solid fa-mask-face icon"></i>
                                <span class="text nav-text">Cirugias</span>
                            </a>

                        </li>
                        <li class="nav-links">
                            <a href="historial-vacunas.html" class="header__enlace">
                                <i class="fa-solid fa-sheet-plastic icon"></i>
                                <span class="text nav-text">Historial Clinico</span>
                            </a>
                        </li>
                        <li class="nav-links">
                            <a href="generar-contrato-medicina.html" class="header__enlace">
                                <i class="fa-solid fa-file-contract icon"></i>
                                <span class="text nav-text">Contrato</span> 
                            </a>

                        </li>
                        <li class="nav-links">
                            <a href="programar-cita.html" class="header__enlace">
                                <i class="fa-solid fa-thumbtack icon"></i>
                                <span class="text nav-text">Programar Cita</span>
                            </a>

                        </li>
                        <li class="nav-links">
                            <a href="generar-comprobantepago.html" class="header__enlace">
                                <i class="fa-solid fa-wallet icon"></i>
                                <span class="text nav-text">Comprobante de Pago</span>
                            </a>

                        </li>
                        <li class="nav-links">
                            <a href="index.html" class="header__enlace">
                                <i class="fa-solid fa-user-xmark icon"></i>
                                <span class="text nav-text">Cerrar sesion</span>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <!-- fin div menu bar -->
        </header>
    </nav>
    <script src="src/js/menu.js"></script>
</body>

</html>